@import '~bulma/bulma.sass';

.card {
	display: flex;
	flex-direction: column;
}

.card-content {
  border-top: 1px solid red;
  background-color: rgb(0, 109, 128);
  padding: 10px;
  color: black;
}

.film {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  border: 1px solid blue;

    .film-container {
      background-color: salmon;

    }
}

.show-section {
  display: flex;
  flex-direction: column;
  margin: 50px;
  border: 1px solid blue;
  // background-color: #CADD95;
  justify-content: space-between;
    .container {
      border: 2px solid yellow;
      margin: 10px;
    }

    .write-review {
      display: flex;
      flex-direction: column;
      margin: 50px;
    }

    .top-section {

      textarea {
        display: flex;
        justify-items: center;
        overflow: auto;
        height: 32px;
        min-height: 32px;
        width: 44vw;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #6A6767;
        border: none;
        color: #E5E5E5;
        font-size: medium;
        font-weight: 500;
        resize: none;
        animation: collapse .35s ease-in-out;
      }

      textarea::placeholder {
        color: #A9A4A4;
      }

      textarea:focus {
        height: 150px;
        animation: expand .35s 1 0s ease-in-out;
      }
    }

    .reviews {
      display: flex;
      flex-direction: column;
      border: 2px solid red;
      border-radius: 10px;
      flex-grow: 1;
      margin: 10px;
      padding: 20px;
      height: 200px;
      color: white;
      background-color: grey;
      overflow: scroll;

      .review-container {
        background-color: rgb(99, 95, 95);
        margin: 10px;
        border-radius: 10px;

        .review-header {
          margin: 5px;
        }

        .review-content {
          margin: 5px;
        }
      }
    }
}